*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box
}
body{
    background-color: aquamarine;
}
.container{
  width: 610px;
  background-color:white;
  border-radius: 8px;
  margin: auto;
  margin-top: 12%;
  border-radius: 6px;
  padding: 2%;
  box-shadow: 1px 1px 10px rgb(7, 115, 125);
}
.header{
    margin-bottom: 4%;
    font-weight: 800;
    font-size: 2em;
    color: cornflowerblue;
}
#inputTask{
    width: 280px;
    padding: 1.8%;
    border-radius: 5px;
    background-color: rgb(248, 255, 253);
    border: 1.5px solid lightgray;
}
.btn{
    padding: 1.5% 4%;
    border-radius: 10px;
    color: rgb(239, 249, 253);
    font-weight: bold;
    background-color: rgb(9, 173, 243);
    border: 2px solid rgb(9, 173, 243);
    margin-bottom: 5%;
    cursor: pointer;
}
li button{
    margin-left: 4%;
    padding: 1% 1.5%;
}


@media screen and (max-width: 650px) {
    .container {
        width: 90%;
        margin-top: 15%;
        padding: 4%;
    }
    #inputTask {
        width: 60%;
        padding: 3%;
    }
    .btn {
        padding: 3% 6%;
        font-size: 14px;
    }
    .header {
        font-size: 1.5em;
    }
}
